@model IEnumerable<API_MVC_Achados_e_Enchentes.Models.Observacoes>

@{
    ViewData["Title"] = "Home";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        padding: 0px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px 15px;
        text-align: left;
    }

    th {
        color: #fff;
        background-color: #007bff;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #e9e9e9;
    }

    a {
            text-decoration: none;
            font-weight: bold;
        }

            a:hover {
                font-weight: bolder;
            }


    thead {
        background-color: #222;
    }

        thead tr:hover {
            background-color: #222;
        }
</style>

<h1>Observações</h1>

<p>
    <a asp-action="Create">Criar Nova Observação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ObservacaoDescricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObservacaoLocal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObservacaoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>